@page "/modules"
@inherits BasePage<Delights.Modules.ModuleManager.Module>
@inject MessageService MessageService
@inject ModuleService Service
@inject IModuleHost ModuleCollection

<PageTitle Value="Module Manager" />

<AntList DataSource="@ClientModules">
    <Header>
        Client
    </Header>
    <ChildContent>
        <ListItem Actions="@(new[] { LinkRenderFragment((context.Url, "Url")) })">
            <ListItemMeta Description="@($"{context.Name} @ {context.EntryAssembly}")">
                <TitleTemplate>
                    <span>@context.DisplayName @context.Version</span>
                    <span class="font-weight-light">@context.Author</span>
                </TitleTemplate>
            </ListItemMeta>
            @context.Description
        </ListItem>
    </ChildContent>
</AntList>
<AntList DataSource="@ServerModules">
    <Header>
        Server
    </Header>
    <ChildContent>
        <ListItem Actions="@(new[] { LinkRenderFragment((context.Url, "Url")) })">
            <ListItemMeta Description="@($"{context.Name} @ {context.EntryAssembly}")">
                <TitleTemplate>
                    <span>@context.DisplayName @context.Version</span>
                    <span class="font-weight-light">@context.Author</span>
                </TitleTemplate>
            </ListItemMeta>
            @context.Description
        </ListItem>
    </ChildContent>
</AntList>

@code{
    List<GraphQL.IModuleManifest> ServerModules = new List<GraphQL.IModuleManifest>();

    List<ModuleManifest> ClientModules = new List<ModuleManifest>();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        ClientModules = ModuleCollection.Modules.Select(m => m.Manifest).ToList();

        try
        {
            var result = await Service.GraphQLClient.GetModulesAsync();
            result.EnsureNoErrors();
            ServerModules = result.Data!.Modules.Nodes.ToList();
        }
        catch
        {
            _ = MessageService.Error("Failed to fetch server module data.");
        }
    }

    RenderFragment<(string link, string text)> LinkRenderFragment = context =>
    @<Template>
        <a href="@context.link">@context.text</a>
    </Template>;
}
