@inject Notes.ModuleService Service
@inject MessageService MessageService
@inject NavigationManager NavigationManager

<Loader OnLoad="@OnLoad" @ref="loader" LoadKey="@MetadataId">
    @if (!IsDeleted)
    {
        <ListItem @key="@MetadataId" Style="display: block">
            <ListItemMeta Avatar="@("")">
                <TitleTemplate>
                    <h4>
                        <a href="@Service.UrlGenerator.Note(Note!)" style="color:black">
                            <span>@Note!.Title</span>
                        </a>
                    </h4>
                </TitleTemplate>
                <DescriptionTemplate>
                    <NoteMetadataDisplay Value="@Note" />
                </DescriptionTemplate>
            </ListItemMeta>

            <p>
                @Note!.Content
            </p>

            <ButtonLink Href="@Service.UrlGenerator.NoteEdit(Note)">
                <MdiIcon Type="@IconNames.Edit"></MdiIcon>
                <span>Edit</span>
            </ButtonLink>
            <Popconfirm Title="@($"Are you sure delete this note?")" OnConfirm="OnDelete" Placement="@PlacementType.BottomRight">
                <Button Danger>
                    <MdiIcon Type="@IconNames.Delete"></MdiIcon>
                    <span>Delete</span>
                </Button>
            </Popconfirm>
        </ListItem>
    }
</Loader>

@code {
    [Parameter]
    public string? MetadataId { get; set; }

    bool IsDeleted { get; set; } = false;

    IData? Note { get; set; }

    private Loader loader;

    private async Task OnLoad()
    {
        var result = await Service.GraphQLClient.GetDataByMetadataIdAsync(MetadataId!);
        Note = result.Data?.DataByMetadataId;
    }

    private async Task OnDelete()
    {
        var pass = await Service.GraphQLClient.DeleteDataAsync(Note!.Id);
        if (!pass.HasErrors)
        {
            _ = MessageService.Success("Deleted note successfully.");
            IsDeleted = true;
        }
        else
        {
            _ = MessageService.Error("Failed to delete note.");
        }
    }
}
